<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snapyr.sdk.core">

    <!-- Required for internet. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required to allow notification taps to dismiss the notification drawer -->
    <uses-permission
        android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
<!--    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />-->
<!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <application>
        <activity
            android:name="com.snapyr.sdk.notifications.SnapyrNotificationListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.snapyr.sdk.notifications.TRACK_BROADCAST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.snapyr.sdk.notifications.SnapyrC2DMReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <!-- TODO: add priority to intent filter? -->
            <intent-filter android:priority="1000">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.snapyr.sdk.notifications" />
            </intent-filter>
        </receiver>
    </application>

</manifest>