name: Snapyr CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build and run tests
        run: ./gradlew check build assembleAndroidTest
      - uses: chrislennon/action-aws-cli@v1.1
      - run: aws s3 cp <SOMEFILEHERE> s3://sample-apps.snapyrdev.com/android/ --acl public-read
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_S3_SAMPLE_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_S3_SAMPLE_ACCESS_KEY }}
