name: Publish to Maven Central Repository

on:
  release:
    types: [published]

jobs:

  publish_snapshot:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Configure GPG
        run: |
          mkdir -p $HOME/keys
          export SIGNING_SECRET_KEY_RING_FILE=$HOME/keys/secret_key.gpg
          echo $SIGNING_SECRET_KEY_RING_FILE_DATA | base64 -d > $SIGNING_SECRET_KEY_RING_FILE
        env:
          SIGNING_SECRET_KEY_RING_FILE_DATA: ${{secrets.SIGNING_SECRET_KEY_RING_FILE_DATA}}
      - name: Publish Package
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publish
        env:
          SIGNING_KEY_ID: ${{secrets.SIGNING_KEY_ID}}
          SIGNING_KEY_PASSWORD: ${{secrets.SIGNING_KEY_PASSWORD}}
          SIGNING_SECRET_KEY_RING_FILE: /${{ env.HOME }}/keys/secret_key.gpg
          MAVEN_USERNAME: ${{secrets.MAVEN_USERNAME}}
          MAVEN_PASSWORD: ${{secrets.MAVEN_PASSWORD}}
